@{
    ViewData["Title"] = "Loja Whatever - Sua loja de instrumentos músicais e acessórios";
}
<main>
    <!-- carrossel -->
    <vc:carousel></vc:carousel>

    <div class="container">
        <!-- categorias -->
        <vc:category-list></vc:category-list>

        <!-- ofertas -->
        <vc:offers-list></vc:offers-list>
    </div>
</main>