@model NavViewModel

<div class="container-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a class="navbar-brand" href="/">
                            <span class="logo-strong">L</span>oja<span class="logo-strong">W</span>hatever
                        </a>
                    </div>
                    <div class="col-md-8">
                        <form id="form-pesquisa" action="/pesquisa" method="GET">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="input-group mr-3">
                                        <input type="text" class="form-control" id="s" name="s" placeholder="Pesquisar produto" 
                                            aria-label="Pesquisar produto" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light" type="submit" id="button-addon2">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row btn-group">
                                        <a href="/carrinho" class="btn btn-outline-light" data-toggle="tooltip" 
                                            data-placement="body" title="Acessar seu carrinho" data-container="body">
                                            <i class="fa fa-cart-plus"></i>
                                            <span class="badge badge-light">
                                                @Model.QtdItensCarrinho
                                            </span>
                                        </a>
                                        @if (Model.TaLogado)
                                        {
                                            <a href="/produto/curtidos" class="btn btn-outline-light" data-toggle="tooltip" 
                                                data-placement="body" title="Acessar produtos curtidos" data-container="body">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <partial name="~/Views/Shared/_LoginPartial.cshtml" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                           aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            @foreach (CategoryItemMenu categoryMenuItem in Model.Categories)
                            {
                                <li>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Categorias" asp-route-id="@categoryMenuItem.Id">@categoryMenuItem.Title</a>

                                    @if (categoryMenuItem.SubCategories.Any())
                                    {
                                        <ul class="dropdown-menu">
                                            @foreach (var item in categoryMenuItem.SubCategories)
                                            {
                                                <li><a class="dropdown-item" href="#">@item.Title</a></li>
                                            }
                                        </ul>
                                    }
                                </li>    

                                

                            }
                        </ul>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Carrinho">Carrinho</a>
                    </li>

                    @if (Model.TaLogado) 
                    {
                        <li>
                            <a href="/vender">Vender</a>
                        </li>

                        if (Model.TipoUsuario =="Comum")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Area administrativa
                                </a>
                                <div class="dropdown-menu bg-dark text-white">
                                    <a class="dropdown-item" href="/admin/usuario/minhas-compras">
                                        Compras <span class="sr-only"></span>
                                    </a>
                                </div>
                            </li>
                        }
                        else if (Model.TipoUsuario == "Vendedor")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Area administrativa
                                </a>
                                <div class="dropdown-menu bg-dark text-white">
                                    <a class="dropdown-item" href="/admin/usuario/minhas-compras">
                                        Minhas Compras <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/produto">
                                        Produtos <span class="sr-only"></span>
                                    </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Area administrativa</a>
                                <div class="dropdown-menu bg-dark text-white">
                                    <a class="dropdown-item" href="/admin/categoria">
                                        Categorias <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/vendedor">
                                        Vendedores <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/produto">
                                        Produtos <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/usuario">
                                        Usuários <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/atributo">
                                        Atributos <span class="sr-only"></span>
                                    </a>
                                    <a class="dropdown-item" href="/admin/avaliacoes-pendentes">
                                        Avaliações <span class="sr-only"></span>
                                    </a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>